
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 25%;
    width: 50%;
    background-color: aliceblue;
}
.card{
    background-color: azure;
}
.navbar{
    background-color: azure;
    text-align: center;
}
